.wrapper {
  background-image: url("http://3.bp.blogspot.com/-qbioxAVpz0I/UyFnB6ir_AI/AAAAAAAACtU/Gwak8lATxQg/s1600/confetti_wallpaper.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.profile-pic-cont {
  border: 3px solid white;
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
}

.centered-and-cropped {
  border-radius: 50%;
  object-fit: cover;
  width: 300px;
  height: 300px;
}

a.wrap {
  position: absolute;
  bottom: 0;
}
a.wrap i.fa-plus {
  color: white;
  position: absolute;
  left: 145px;
  top: 10px;
}

.partial-circle {
  position: relative;
  height: 40px;
  width: 300px;
  overflow: hidden;
}

.partial-circle:before {
  content: '';
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
